* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: $bs-normal-text;
}
a,
button {
  transition: 0.4s;
  user-select: none;
}
a,
button,
input,
textarea,
select {
  outline: none;
  border: 0;
}
input,
select {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid rgba(133, 153, 171, 0.2);
  font-size: 14px;
  color: #364e65;
  padding: 0 20px;
  display: flex;
}
.width-limit {
  max-width: 960px;
  margin: 0 auto;
}

// 普通按钮
.bs-button {
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  max-width: 1024px;
  border-radius: 4px;
  white-space: nowrap;
  position: relative;
  color: $bs-white;
  background: linear-gradient(
    45deg,
    rgba(91, 195, 121, 0.5) 0%,
    rgba(199, 230, 212, 0.05) 100%
  );
  &::before {
    border-radius: 4px;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    // z-index: 1;
    pointer-events: none;
    opacity: 1;
    background-color: $bs-main;
  }
  span,
  i {
    position: relative;
    z-index: 2;
  }
  &:hover {
    color: $bs-main;
    &::before {
      opacity: 0;
    }
  }
}

.bs-tag {
  cursor: pointer;
  display: inline-block;
  margin: 0 8px 8px 0;
  border-radius: 2px;
  color: #fff;
  width: 80px;
  text-align: center;
  font-size: 13px;
  color: $bs-main;
  color: $bs-normal-text;
  border: 1px solid rgba(133, 153, 171, 0.2);
  color: #8599ab;
  background: #fafafa;
  line-height: 24px;
  &:hover {
    color: $bs-main;
  }
}
.bs-outline {
  box-shadow: 0 2px 26px 0 rgba(133, 153, 171, 0.1) !important;
  border: 1px solid rgba(133, 153, 171, 0.2) !important;
  background: $bs-white;
  border-radius: 10px;
  overflow: hidden;
}
