$bs-main:#5bc379; // 主色调
$bs-light-color:#c7e6d4; // 
$bs-back:#f3f7f8; // 主要背景
$bs-light-back:#fbfcfc; // 浅背景
$bs-active-text:#ea6e2f;
$bs-dark-text:#3e4448;
$bs-light-text:#a3a3a3;
$bs-lighter-text:#e1e1e1;
$bs-lighter-text:#d9dcde;
$bs-active-back:#fafafa;

$bs-hover:#e5f6eb;
$bs-white:#fff;
$bs-normal-text:#6e6e6e;
$bs-normal-text:#63676b;
$bs-nav-text:#888888;


// $bs-normal-text:#59c376;