$bs-color:#5bc379; // 主色调
$bs-light-color:#c7e6d4; // 
$bs-back:#f3f7f8; // 主要背景
$bs-light-back:#f7fdf9; // 浅绿背景

$bs-hover:#e5f6eb;
$bs-active:#94d7c5;
$white-back:#fff;
$bs-text:#6e6e6e;
// $bs-text:#59c376;